<ion-header>
<ion-toolbar>
  <ion-title>res name</ion-title>
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="chevron-back-outline" color="primary" autoHide="false" style="zoom:1.5; margin-left: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
<!-- <div id="cont1" style="background-image: url('{{resturants?.img}}'); background-size: cover; background-position: 100vh;">

</div>
<div id="cont2">
<h1>{{resturants?.resName}}</h1>
<br>
<ion-grid>
  <ion-row><h4><i>{{resturants?.resDes}}</i></h4></ion-row>
  <ion-row><h2>{{resturants?.resAdd}}</h2></ion-row>
  <ion-row><ion-col col-4><h2>{{resturants?.resTel}}</h2></ion-col><ion-col col-4><h2>{{resturants?.resEmail}}</h2></ion-col></ion-row>
  <ion-row><h2>{{resturants?.resRate}}<ion-icon name='star' color="primary"></ion-icon></h2></ion-row>
</ion-grid>
<br>
<h1>Our Dishes</h1>
<ion-grid  >
  <ion-row >
    <ion-col col-4 *ngFor="let dish of restu">
  <img src="{{dish?.dishimg}}">
  <ion-header>
    <ion-card-subtitle>{{dish?.dishName}}</ion-card-subtitle>
    <ion-card-subtitle>{{dish?.dishPrice}}</ion-card-subtitle>
  </ion-header>
</ion-col>
</ion-row>
</ion-grid>
<br>
  <ion-button color="primary" [routerLink]="'/book/'+ resturants?.resID">Make A Reservation</ion-button>
</div> -->

<main>
  <figure>
    <img src="" width="100%" height="100%" alt="Resturant Image" loading="lazy">
  </figure>

</main>





</ion-content>
