<!-- <div id="toolbar">
        <ion-buttons slot="start">
          <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon color='primary' name="person" routerLink="/profile" style="zoom:1.4; margin-right: 10px;"></ion-icon>
        </ion-buttons>
      </div> -->


<!-- <ion-grid>
    <div *ngFor="let item of restuList" >
      <ion-row><ion-col>
        <ion-card id="restcardrouterLink]="'/res-view/'+item.id"" [>
          <img style=" height: 120px; width: 100%" src= {{item.img}} >
          <ion-card-header>
            <ion-card-title>{{item.resName}}</ion-card-title>
            <ion-card-subtitle>{{item.resAdd}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{item.resRate}} <ion-icon name="star" color="primary"></ion-icon>
          </ion-card-content>
       </ion-card></ion-col>
      </ion-row>
      </div>
    </ion-grid> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon color='primary' name="person" routerLink="/profile" style="zoom:1.4; margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <header>
      <h1>Welcome</h1>
      <p>Explore Our Resturants</p>
    </header>
    <section *ngFor="let item of restuList" >
      <ion-searchbar mode="ios" postion="fixed" placeholder="Search for resturants"></ion-searchbar>
      <div class="card" alt="product card">
        <img src= {{item.img}} alt="product-image">
        <div id="card-content">
          <p id="resname">{{item.resName}}</p>
          <p id="addr">{{item.resAdd}}</p>
          <div id="rating">
            <p>
              <ion-icon name="star" color="primary"></ion-icon>{{item.resRate}}
            </p>
            <a href="#">view</a>
          </div>
        </div>
      </div>
    </section>
    <ion-fab vertical="bottom" horizontal="end" position="fixed">
      <ion-fab-button>
        <ion-icon name="calendar-outline" routerLink="/my-bookings"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </main>
</ion-content>