
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon color='primary' name="search-outline" style="zoom:1.5; margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
<ion-content>
  <div id="main-cont">
<div id="mid-cont">

  <div *ngFor="let item of restuList" >
      <ion-card>
        <img src= {{item.img}}  />
        <ion-card-header>
          <ion-card-subtitle>{{item.resName}} </ion-card-subtitle>
          <ion-card-title>{{item.resAdd}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.resDes}} <br> {{item.resRate}}
        </ion-card-content>
      </ion-card>
    
    </div>
</div>
  </div>
</ion-content>