#main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', serif;
    
    
    }
    ion-title{
        text-align: center;
       
        font-family: 'Nunito', serif;
        
    }