#main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    font-family: 'Nunito', serif;
    
    
    }
    #mid-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
       
       margin-top: 30px;
        font-family: 'Nunito', serif;
        
        
        }
    ion-title{
        text-align: center;
       
        font-family: 'Nunito', serif;
        
    }
    img{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    ion-card{
        display: flex ;
        flex-direction: column;
width: 80%;
        text-align: left;
      

    }