ion-title{
    text-align: center;
   
    font-family: 'Nunito', serif;
    
}

#main-cont{
height:100% !important;
width:100%;
padding:5px 10px;
background:whitesmoke;

}
#mid-cont{
   width:100%;
  
}