<div id="logo-con">
 
  <img alt="" height="40"   src="../../assets/logo/logo.png" > 
  
</div>

<ion-content id="container">
  <div id="main-holder">
  <div id="start-content">
  <h1><p>Welcome To <br> Chow </p></h1>
  <h5><p>Please create an account .</p></h5>
</div>

  <div class="col">
    <input class="textbox" type="text" placeholder="Email" #emailSignUp>
    <span class="focus-border"></span>
  </div>
  <br><br>
  <div class="col">
    <input class="textbox" type="password" placeholder="Password" #passwordSignUp>
    <span class="focus-border"></span>
  </div>

<br><br>
  <ion-button color="primary"  (click)="onSignUp(emailSignUp.value, passwordSignUp.value)"  >Create Account</ion-button>
  <br>
  <a routerLink="/login" >Already Have An Account? Login</a>
  </div>

</ion-content>